{% load static %}
{% load my_filters %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="UTF-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Ahmed Mostafa">
  <link href="{% static 'images/favicon.png' %}" rel="shortcut icon">
  <title>Ludus - Electronics, Apparel, Computers, Books, DVDs & more</title>

  <!--====== Google Font ======-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

  <!--====== Vendor Css ======-->
  <link rel="stylesheet" href="{% static 'css/vendor.css' %}">

  <!--====== Utility-Spacing ======-->
  <link rel="stylesheet" href="{% static 'css/utility.css' %}">

  <!--====== App ======-->
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body class="config">
  <div class="preloader is-active">
    <div class="preloader__wrap">
      <img class="preloader__img" src="{% static 'images/preloader.png' %}" alt="">
    </div>
  </div>

  <!--====== Main App ======-->
  <div id="app">

    <!--====== Main Header ======-->
    <header class="header--style-1 header--box-shadow">

      <!--====== Nav 1 ======-->
      {% include 'navbar1.html' %}
      <!--====== End - Nav 1 ======-->

      <!--====== Nav 2 ======-->
      {% include 'navbar2.html' %}
      <!--====== End - Nav 2 ======-->

    </header>
    <!--====== End - Main Header ======-->

    <!--====== App Content ======-->
    <div class="app-content">

      {% block content %}

      {% endblock content %}

    </div>
    <!--====== End - App Content ======-->

    <!--====== Main Footer ======-->
    {% include 'footer.html' %}
    <!--====== Modal Section ======-->

    <!--====== Quick Look Modal ======-->
    {% include "quick_look_model.html" %}
    <!--====== End - Quick Look Modal ======-->

    <!--====== Add to Cart Modal ======-->
    {% include 'add_to_cart.html' %}
    <!--====== End - Add to Cart Modal ======-->

    <!--====== End - Modal Section ======-->
  </div>
  <!--====== End - Main App ======-->

  <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
  <script>
    window.ga = function () {
      ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>

  <!--====== Vendor Js ======-->
  <script src="{% static 'js/vendor.js' %}"></script>

  <!--====== jQuery Shopnav plugin ======-->
  <script src="{% static 'js/jquery.shopnav.js' %}"></script>

  <!--====== App ======-->
  <script src="{% static 'js/app.js' %}"></script>

  <script>
    $(".quickview").click(function () {
      $.ajax({
        url: $(this).attr("data-url"),
        dataType: 'json',
        success: function (response) {
          console.log(response.product_title);
          $(".pd-detail__name").empty().append(response.product_title);
          $(".pd-detail__price").empty().append('$' + response.product_price);
          if (response.product_sale_price) {
            $(".pd-detail__del").empty().append('$' + response.product_sale_price);
          } else {
            $(".pd-detail__del").empty();
          }
          $("#image1").empty().attr("src", response.product_image);
          $("#image1-slide").empty().attr("src", response.product_image);
          $(".pd-detail__preview-desc").empty().append(response.product_description);
          $.each(response.product_images, function (index, value) {
            console.log(index);
            console.log(value['fields']['image']);
            if (index == 0) {
              $("#id_0").html('<img style="position: absolute;" id="image2-slide" class="u-img-fluid" src="" alt="">');
              $("#image2-slide").attr("src", '/media/' + value['fields']['image']);
            }
            else {
              var i = index - 1;
              var selector = "#id_" + i;
              $(selector).after($('<div></div>').attr('id', 'id_' + index));
              //$("#id_" + index).empty();
              //$("#id_" + index).append($('<img style="position: absolute;" class="u-img-fluid" src="" alt="">').attr("src", '/media/' + value['fields']['image']));
            }
          });
        }
      })
    });
  </script>
  <!--====== Noscript ======-->
  <noscript>
    <div class="app-setting">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="app-setting__wrap">
              <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>
              <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a
                JavaScript-capable browser.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </noscript>
</body>

</html>