{% load static %}
{% load my_filters %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="UTF-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Ahmed Mostafa">
  <link href="{% static 'images/favicon.png' %}" rel="shortcut icon">
  <title>Ludus|{% block head_title %}{% endblock %}</title>

  <!--====== Google Font ======-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

  <!--====== Vendor Css ======-->
  <link rel="stylesheet" href="{% static 'css/vendor.css' %}">

  <!--====== Utility-Spacing ======-->
  <link rel="stylesheet" href="{% static 'css/utility.css' %}">

  <!--====== App ======-->
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body class="config">
  <div class="preloader is-active">
    <div class="preloader__wrap">
      <img class="preloader__img" src="{% static 'images/preloader.png' %}" alt="">
    </div>
  </div>

  <!--====== Main App ======-->
  <div id="app">

    <!--====== Main Header ======-->
    <header class="header--style-1 header--box-shadow">

      <!--====== Nav 1 ======-->
      {% include 'navbar1.html' %}
      <!--====== End - Nav 1 ======-->

      <!--====== Nav 2 ======-->
      {% include 'navbar2.html' %}
      <!--====== End - Nav 2 ======-->

    </header>
    <!--====== End - Main Header ======-->

    <!--====== App Content ======-->
    <div class="app-content">

      {% block content %}

      {% endblock content %}

    </div>
    <!--====== End - App Content ======-->

    <!--====== Main Footer ======-->
    {% include 'footer.html' %}
    <!--====== Modal Section ======-->

    <!--====== Quick Look Modal ======-->
    {% include "quick_look_model.html" %}
    <!--====== End - Quick Look Modal ======-->

    <!--====== Add to Cart Modal ======-->
    {% include 'add_to_cart.html' %}
    <!--====== End - Add to Cart Modal ======-->

    <!--====== End - Modal Section ======-->
  </div>
  <!--====== End - Main App ======-->

  <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
  <script>
    window.ga = function () {
      ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>

  <!--====== Vendor Js ======-->
  <script src="{% static 'js/vendor.js' %}"></script>

  <!--====== jQuery Shopnav plugin ======-->
  <script src="{% static 'js/jquery.shopnav.js' %}"></script>

  <!--====== App ======-->
  <script src="{% static 'js/app.js' %}"></script>

  <script>
    $(".quickview").click(function () {
      $.ajax({
        url: $(this).attr("data-url"),
        dataType: 'json',
        success: function (response) {
          var clear = 0;
          var l = (Object.keys(response.category_list).length) - 1;
          // Add the category list for the product
          $.each(response.category_list, function (index, value) {
            var i = index + 1;
            if (index == 0) {
              $(".has:gt(" + clear + ")").remove();
            }
            if (l == index) {
              $("#separator_" + index).after($('<li class="has is-marked"></li>').attr("id", "separator_" + i));
              $("#separator_" + i).append($('<a href="shop-side-version-2.html"></a>').attr("id", "text-content" + index));
              $("#text-content" + index).append(value);
            }
            else {
              $("#separator_" + index).after($('<li class="has-separator has"></li>').attr("id", "separator_" + i));
              $("#separator_" + i).append($('<a href="shop-side-version-2.html"></a>').attr("id", "text-content" + index));
              $("#text-content" + index).append(value);
            }
          });
          // Add the title of the product
          $(".pd-detail__name").empty().append(response.product_title);
          // Add the price of the product
          $(".pd-detail__price").empty().append('$' + response.product_price);
          // Add the sale price of the product
          if (response.product_sale_price) {
            $(".pd-detail__del").empty().append('$' + response.product_sale_price);
          } else {
            $(".pd-detail__del").empty();
          }
          // Add the description of the product
          $(".pd-detail__preview-desc").empty().append(response.product_description);
          // Start images
          $("#image1").empty().attr("src", response.product_image);
          $.each(response.product_images, function (index, value) {
            var isLastElement = index == response.product_images.length - 1;
            if (isLastElement) {
              var i;
              for (i = index + 1; i < 6; i++) {
                var number = i + 2;
                $("#image" + number).hide();
              }
            }
            if (index == 0) {
              if ($('#image2').css('display') == 'none') {
                $('#image2').show();
              }
              $("#image2").empty().append($('<img class="u-img-fluid" alt="">').attr("src", '/media/' + value['fields']['image']));
            }
            if (index == 1) {
              if ($('#image3').css('display') == 'none') {
                $('#image3').show();
              }
              $("#image3").empty().append($('<img class="u-img-fluid" alt="">').attr("src", '/media/' + value['fields']['image']));
            }
            if (index == 2) {
              if ($('#image4').css('display') == 'none') {
                $('#image4').show();
              }
              $("#image4").empty().append($('<img class="u-img-fluid" alt="">').attr("src", '/media/' + value['fields']['image']));
            }
            if (index == 3) {
              if ($('#image5').css('display') == 'none') {
                $('#image5').show();
              }
              $("#image5").empty().append($('<img class="u-img-fluid" alt="">').attr("src", '/media/' + value['fields']['image']));
            }
            if (index == 4) {
              if ($('#image6').css('display') == 'none') {
                $('#image6').show();
              }
              $("#image6").empty().append($('<img class="u-img-fluid" alt="">').attr("src", '/media/' + value['fields']['image']));
            }
            if (index == 5) {
              if ($('#image7').css('display') == 'none') {
                $('#image7').show();
              }
              $("#image7").empty().append($('<img class="u-img-fluid" alt="">').attr("src", '/media/' + value['fields']['image']));
            }
          });
          $("#image1-slide").empty().attr("src", response.product_image);
          $.each(response.product_images, function (index, value) {
            var isLastElement = index == response.product_images.length - 1;
            if (isLastElement) {
              var i;
              for (i = index + 1; i < 6; i++) {
                $("#id_" + i).hide();
              }
            }
            if (index == 0) {
              if ($('#id_0').css('display') == 'none') {
                $('#id_0').show();
              }
              $("#id_0").empty().append($('<img class="u-img-fluid" alt="">').attr("src", '/media/' + value['fields']['image']));
            }
            if (index == 1) {
              if ($('#id_1').css('display') == 'none') {
                $('#id_1').show();
              }
              $("#id_1").empty().append($('<img class="u-img-fluid" alt="">').attr("src", '/media/' + value['fields']['image']));
            }
            if (index == 2) {
              if ($('#id_2').css('display') == 'none') {
                $('#id_2').show();
              }
              $("#id_2").empty().append($('<img class="u-img-fluid" alt="">').attr("src", '/media/' + value['fields']['image']));
            }
            if (index == 3) {
              if ($('#id_3').css('display') == 'none') {
                $('#id_3').show();
              }
              $("#id_3").empty().append($('<img class="u-img-fluid" alt="">').attr("src", '/media/' + value['fields']['image']));
            }
            if (index == 4) {
              if ($('#id_4').css('display') == 'none') {
                $('#id_4').show();
              }
              $("#id_4").empty().append($('<img class="u-img-fluid" alt="">').attr("src", '/media/' + value['fields']['image']));
            }
            if (index == 5) {
              if ($('#id_5').css('display') == 'none') {
                $('#id_5').show();
              }
              $("#id_5").empty().append($('<img class="u-img-fluid" alt="">').attr("src", '/media/' + value['fields']['image']));
            }
          });
          /*
          $.each(response.product_images, function (index, value) {
            if (index == 0) {
              //$(".has-image:gt(" + clear + ")").remove();
              $("#id_0").empty().append($('<img style="max-width: 100%; max-height: 100%;" class="u-img-fluid" src="" alt="">').attr("src", '/media/' + value['fields']['image']));
            }
            if (index == 1) {
              $("#id_1").empty().append($('<img style="max-width: 100%; max-height: 100%;" class="u-img-fluid" src="" alt="">').attr("src", '/media/' + value['fields']['image']));
            }
            else {
              var i = index - 1;
              var selector = "#id_" + i;
              //$(selector).after($('<div class=" has-image slick-slide slick-current slick-active" style="width: 269px;" tabindex="0" data-slick-index="" aria-hidden="false"></div>').attr({ 'id': 'id_' + index, "data-slick-index": index }));
              //$("#id_" + index).empty().append($('<img style="position: absolute;" class="u-img-fluid" src="" alt="">').attr("src", '/media/' + value['fields']['image']));
            }
          });
          */
          // End images
        }
      })
    });
  </script>
  <!--====== Noscript ======-->
  <noscript>
    <div class="app-setting">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="app-setting__wrap">
              <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>
              <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a
                JavaScript-capable browser.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </noscript>
</body>

</html>