{% extends 'base.html' %}

{% block content %}

<!--====== Primary Slider ======-->
{% include 'slider.html' %}
<!--====== End - Primary Slider ======-->

<!--====== Section 2 ======-->
{% include 'top_trending.html' %}
<!--====== End - Section 2 ======-->

<!--====== Section 3 ======-->
{% if product_countdown %}
{% include "deal_of_the_day.html" %}
{% endif %}
<!--====== End - Section 3 ======-->

<!--====== Section 4 ======-->
{% include 'new_arrivals.html' %}
<!--====== End - Section 4 ======-->

<!--====== Section 6 ======-->
{% include 'featured_products.html' %}
<!--====== End - Section 6 ======-->

<!--====== Section 9 ======-->
{% include 'service.html' %}
<!--====== End - Section 9 ======-->

<!--====== Section 10 ======-->
{% include 'latest_from_blog.html' %}
<!--====== End - Section 10 ======-->

<!--====== Section 11 ======-->
{% include 'client_feedback.html' %}
<!--====== End - Section 11 ======-->

{% endblock content %}